	<!-- begin Footer -->
	<footer>
		<div class="container-fluid">
			<div class="row first-row flex-sm-row-reverse justify-content-center">
				<div class="col-11 col-sm-12 col-lg-6">
					<div class="row">
						<div class="col-6 col-sm-3 order-sm-3">
							<div class="column">
								<div class="column-title">Social</div>
								<ul>
									<li><a href="https://twitter.com/formosaofficial" target="_blank"><img src="img/twitter-g.svg" alt="twitter">Twitter</a></li>
									<li><a href="https://medium.com/formosa-financial" target="_blank"><img src="img/m-g.svg" alt="mediau">Medium</a></li>
									<li><a href="https://www.facebook.com/formosa.financial/" target="_blank"><img src="img/facebook-g.svg" alt="facebook">Facebook</a></li>
									<li><a href="https://www.youtube.com/channel/UCeSQdLCxjcU6meqSV0gQenQ" target="_blank"><img src="img/youtube-g.svg" alt="youtube" target="_blank">Youtube</a></li>
								</ul>
							</div>
						</div>
						<div class="col-6 col-sm-3 order-sm-2">
							<div class="column">
								<div class="column-title">Community</div>
								<ul>
									<li><a href="https://t.me/formosafinancial" target="_blank"><img src="img/telegram-g.svg" alt="telegram">Telegram</a></li>
									<li><a href="https://www.reddit.com/r/FormosaFinancial/" target="_blank"><img src="img/r-g.svg" alt="reddit">Reddit</a></li>
									<li><a href="https://github.com/FormosaFinancial/" target="_blank"><img src="img/git-g.svg" alt="git">Git Hub</a></li>
									<li><a href="https://bitcointalk.org/index.php?action=profile;u=2314943;sa=showPosts" target="_blank"><img src="img/b-g.svg" alt="bitcoin">Bitcoin Talk</a></li>
								</ul>
							</div>
						</div>
						<div class="col-6 col-sm-3 order-sm-1">
							<div class="column">
								<div class="column-title">Resources</div>
								<ul>
									<li><a href="https://www.formosa.financial/docs/White_Paper.pdf" target="_blank">Whitepaper</a></li>
									<li><a href="index.html#roadmap">Roadmap</a></li>
									<!--li><a href="#">Documents</a></li-->
								</ul>
							</div>
						</div>
						<div class="col-6 col-sm-3 order-sm-last">
							<div class="column">
								<div class="column-title">Organization</div>
								<ul>
									<li><a href="team.html">Team</a></li>
									<li><a href="partners.html">Partners</a></li>
									<li><a href="https://www.yourator.co/companies/FormosaFinancial" target="_blank">Careers</a></li>
									<li><a href="mailto:Info@formosa.financial">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="form-title">Sign Up for Updates</div>
					<form class="main-callback-form">
						<div class="form-success"><span>Thank you!</span></div>
						<div class="callback-form-row">
							<!-- Hidden Required Fields -->
							<input type="hidden" name="project_name" value="SubscribeForm">
							<input type="hidden" name="admin_email" value="info@formosa.financial">
							<input type="hidden" name="form_subject" value="MainPage">
							<!-- END Hidden Required Fields -->
							<input type="email" name="Name" placeholder="Enter your email..." required>
							<button class="btn"></button>
						</div>	
					</form>
					<div class="form-desc">You will receive notifications about your current number in our main list.</div>
				</div>
			</div>
			<div class="second-row d-flex flex-column flex-md-row flex-md-row-reverse justify-content-between">
				<div class="terms-links">
					<a href="https://www.formosa.financial/terms.html" target="_blank">Terms & Conditions </a>
					<a href="https://www.formosa.financial/privacy.html" target="_blank">Privacy Policy</a>
				</div>
				<div class="copyright">
					© Copyright, 2018 Formosa Financial Inc.<br>All Rights Reserved.
				</div>
			</div>
		</div>
	</footer>
	<!-- end Footer -->
	<!-- begin Scripts -->
	<script src="https://fast.wistia.com/embed/medias/il05hrjrcu.jsonp" async></script>
	<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
	<span class="wistia_embed wistia_async_il05hrjrcu popover=true popoverAnimateThumbnail=true"></span>
	<script src="js/scripts.min.js"></script>
	<!-- end Scripts -->
</body>
</html>
