	<!-- begin Header -->
	<header>
		<div class="container-fluid d-flex align-items-center justify-content-start">
			<div class="logoplace">
				<a href="index.html"><img src="img/logo-main.svg" alt="formosa-logo"></a>
			</div>
			<div class="community d-none d-md-block">
				<div class="title">Our Community</div>
				<div class="icons">
					<a href="https://t.me/formosafinancial" target="_blank">
						<img src="img/telegram.svg" alt="social">
					</a>
					<a href="https://twitter.com/formosaofficial" target="_blank">
						<img src="img/twitter.svg" alt="social">
					</a>
					<a href="https://medium.com/formosa-financial" target="_blank">
						<img src="img/m.svg" alt="social">
					</a>
					<a href="https://www.reddit.com/r/FormosaFinancial/" target="_blank">
						<img src="img/xz.svg" alt="social">
					</a>
					<a href="https://www.facebook.com/formosa.financial/" target="_blank">
						<img src="img/facebook.svg" alt="social">
					</a>
					<a href="https://github.com/FormosaFinancial/" target="_blank">
						<img src="img/git.svg" alt="social">
					</a>
					<a href="https://bitcointalk.org/index.php?action=profile;u=2314943;sa=showPosts" target="_blank">
						<img src="img/b.svg" alt="social">
					</a>
				</div>
			</div>
			<div class="main-mnu d-none d-xl-block">
				<ul>
					<li><a href="https://www.formosa.financial/docs/White_Paper.pdf" target="_blank">Whitepaper</a></li>
					<li><a href="team.html">Team</a></li>
					<li><a href="#platform" rel="m_PageScroll2id">Platform</a></li>
					<li><a href="#roadmap" rel="m_PageScroll2id">Roadmap</a></li>
					<li><a href="https://medium.com/formosa-financial" target="_blank">Blog</a></li>
				</ul>
				<!--a href="#" class="lang">Eng <img src="img/down.svg" alt=""></a-->
			</div>
			<div class="d-xl-none burger">
				<img src="img/burger.svg" alt="burger">
			</div>
		</div>
	</header>
	<!-- end Header -->