.svg-b1-1-dims {
	width: 29.05px;
	height: 32px;
}

.svg-b1-2-dims {
	width: 29.05px;
	height: 32px;
}

.svg-b1-3-dims {
	width: 29.05px;
	height: 32px;
}

.svg-b1-4-dims {
	width: 29.05px;
	height: 32px;
}

